# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (PostgreSQL - Render)
# Copie os valores do seu banco PostgreSQL no Render
DB_HOST=dpg-d4ogsui4d50c738shuv0-a.oregon-postgres.render.com
DB_PORT=5432
DB_USER=api_p2_user
DB_PASSWORD=yehqYB0H1kTxQNLT76NH5wuPftxYMTNn
DB_NAME=api_p2
DB_SSL=true

# Ou use a URL completa (alternativa):
# DATABASE_URL=postgresql://api_p2_user:yehqYB0H1kTxQNLT76NH5wuPftxYMTNn@dpg-d4ogsui4d50c738shuv0-a.oregon-postgres.render.com/api_p2
